<form class="form-group" action = "/mauderequest/intialmetared" method="POST">
    <label for="config">Initial Configuration:</label>
    <input id="config" type="text" name="config" value = "< tell( 'a ) || tell( 'b ) || tell('d ^ 'f) || ask 'c then tell( 'd ) ; 'c > "/>
    <button class = "btn btn-success" type="submit"> Submit config</button>
</form>