<p hidden class = 'hiddenTreeData'>{{treeData}}</p>

<form hidden action = "/mauderequest/changeBranch" method="POST">
    <input id = 'idBranch' type="text" name="id">
    <button class="submitAcessBranch">SubmitAcess</button>
</form>

    {{>tree}}
    
    <h3 class = "mt-4">Tree View:</h3>
    <div class = 'treeSvg'>

    </div>

    
<script>
    plotTree(document.querySelector('.hiddenTreeData').textContent, '{{currentId}}')
</script>