<script>
    $('.treeSvg').hide()
</script>
<div class ="card mt-2">
    <div class = "card-body">
        <form class="form-group" action = "/mauderequest/intialmetared" method="POST">
            <label for="config">Initial Configuration:</label>
            <input id="config" type="text" name="config" class = "form-control" value = "{{inputInitial}}"/>
            <button class = "btn btn-success mt-4" type="submit"> Submit config</button>
        </form>
    </div>
</div>
