<p hidden class = 'hiddenTreeData'>{{treeData}}</p>

<form hidden action = "/mauderequest/changeBranch" method="POST">
    <input id = 'idBranch' type="text" name="id">
    <button class="submitAcessBranch">SubmitAcess</button>
</form>
    <script>
        $(document).ready(function(){
            $('.treeSvg').show()
        })
    </script>
    {{>tree}}
    


    
<script>
    plotTree(document.querySelector('.hiddenTreeData').textContent, '{{currentId}}')
</script>