<form class="form-group" action = "/mauderequest/metared" method="POST">
    <label for="config">Initial Configuration:</label>
    <input id="config" type="text" name="config"/>
    <button class = "btn btn-success" type="submit"> Submit config</button>
</form>