.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}
path.link{
  stroke: blue;
  opacity: 0.2;
}

.node text {
  font: 15px sans-serif;
}

svg{
  border-style: outset;
}
.process-clickable{
  cursor: pointer;
  
}
#loading{
  margin-top: 1em;
  border-style: none;
}
.sidebar{
  border-style: groove;
}

ul.list-definition{
  list-style: none;
}